<section class="about" id="about">
  <div class="container">
    <h2 class="section-title">About Us</h2>

    <ul class="card-list">
      <li class="card-item">
        <img
          class="card-image"
          srcset="./img/about-1.jpeg 1x, ./img/about-1-2x.jpeg 2x"
          src="./img/about-1.jpeg"
          width="300"
          height="300"
          alt="A man is making pizza"
        />
        <h3 class="card-title">made with love</h3>
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum quae amet beatae magni
          numquam facere sit. Tempora vel laboriosam repudiandae!
        </p>
      </li>

      <li class="card-item">
        <img
          class="card-image"
          srcset="./img/about-2.jpeg 1x, ./img/about-2-2x.jpeg 2x"
          src="./img/about-2.jpeg"
          width="300"
          height="300"
          alt="Courier on a motorbike"
        />
        <h3 class="card-title">30 minutes delivery</h3>
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum quae amet beatae magni
          numquam facere sit. Tempora vel laboriosam repudiandae!
        </p>
      </li>

      <li class="card-item">
        <img
          class="card-image"
          srcset="./img/about-3.jpeg 1x, ./img/about-3-2x.jpeg 2x"
          src="./img/about-3.jpeg"
          width="300"
          height="300"
          alt="Four hands and slices of an pizza"
        />
        <h3 class="card-title">share with friends</h3>
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illum quae amet beatae magni
          numquam facere sit. Tempora vel laboriosam repudiandae!
        </p>
      </li>
    </ul>
  </div>
</section>
