<section class="footer">
  <div class="container">
    <ul class="list contact-list">
      <li class="item contact-item">
        <div class="wrapper">
          <svg class="icon" width="16" height="16">
            <use href="./img/symbol-defs.svg#phone"></use>
          </svg>
        </div>
        <h4>Phone Number</h4>
        <a href="tel:+123-456-7890">+123-456-7890</a>
        <a href="tel:+111-222-3333">+111-222-3333</a>
      </li>

      <li class="item contact-item">
        <div class="wrapper">
          <svg class="icon" width="16" height="16">
            <use href="./img/symbol-defs.svg#location-dot"></use>
          </svg>
        </div>
        <h4>Our Adress</h4>
        <a href="https://goo.gl/maps/3tgvuX1yMhsyK1yb9" target="_blank"
          >Kyiv, Ukraine - Slava Ukraini street, 2023</a
        >
      </li>

      <li class="item contact-item">
        <div class="wrapper">
          <svg class="icon" width="16" height="16">
            <use href="./img/symbol-defs.svg#clock"></use>
          </svg>
        </div>
        <h4>Opening Hours</h4>
        <p>09:00 am to 10:00 pm</p>
      </li>

      <li class="item contact-item">
        <div class="wrapper">
          <svg class="icon" width="16" height="16">
            <use href="./img/symbol-defs.svg#envelope"></use>
          </svg>
        </div>
        <h4>Email Address</h4>
        <a href="mailto:info@prog.academy">info@prog.academy</a>
      </li>
    </ul>
  </div>
</section>
