<header class="header">
  <div class="header-container container">
    <div class="mob-col-1">
      <button class="hamburger-menu" id="hamburger-menu">
        <div class="bar"></div>
      </button>
    </div>

    <div class="mob-col-2">
      <a href="/index.html" class="header-logo">naPizza.</a>
    </div>

    <div class="header-nav-container mobile-nav active">
      <nav class="header-nav">
        <ul class="header-nav-list list">
          <li class="header-nav-item item">
            <a class="header-nav-link link" id="home" data-name="home">home</a>
          </li>
          <li class="header-nav-item item">
            <a class="header-nav-link link" id="about-btn" data-name="about">about</a>
          </li>
          <li class="header-nav-item item">
            <a class="header-nav-link link" id="menu-btn" data-name="menu">menu</a>
          </li>
          <li class="header-nav-item item">
            <a class="header-nav-link link" id="order-btn" data-name="make-your-pizza"
              >design pizza</a
            >
          </li>
          <li class="header-nav-item item">
            <a class="header-nav-link link" id="faq-btn" data-name="faq">faq</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="mob-col-3">
      <ul class="header-icon-list list">
        <li class="header-icon-item item">
          <button class="button">
            <svg class="user-login-icon icon" width="20" height="20">
              <use href="../img/symbol-defs.svg#user"></use>
            </svg>
          </button>
        </li>
        <li class="header-icon-item item">
          <button class="button">
            <svg class="box-icon icon" width="20" height="20">
              <use href="../img/symbol-defs.svg#box"></use>
            </svg>
          </button>
        </li>
        <li class="header-icon-item item">
          <button class="button" id="open-cart-btn">
            <svg class="shopping-cart-icon icon" width="20" height="20">
              <use href="../img/symbol-defs.svg#cart-shopping"></use>
            </svg>
            <span class="quantity"></span>
          </button>
        </li>
      </ul>
    </div>
  </div>

  <div class="cart" id="cart">
    <div class="close-cart">
      <button id="close-cart-btn">close</button>
    </div>
    <div class="cart-is-empty"></div>
    <div class="cart-list">
      <!-- dynamic data here -->
    </div>
    <div class="subtotal">Total: <span class="show-subtotal"></span></div>
    <a href="./complete-order.html" id="order-now-btn">Order Now</a>
  </div>
</header>
