<section class="home" id="home">
  <div class="container home-bg">
    <ul class="swiper">
      <li class="swiper-slide active">
        <div class="swiper-slide-image-wrapper">
          <img src="./img/pizza-10.png" alt="Homemade Pepperoni Pizza" />
        </div>
        <div class="swiper-slide-content">
          <h3 class="description">Homemade Pepperoni Pizza</h3>
          <button class="swiper-button-prev">
            <svg class="chevron-icon icon" width="22" height="22">
              <use href="../img/symbol-defs.svg#chevron-left"></use>
            </svg>
          </button>
          <button class="swiper-button-next">
            <svg class="chevron-icon icon" width="22" height="22">
              <use href="../img/symbol-defs.svg#chevron-right"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="swiper-slide">
        <div class="swiper-slide-image-wrapper">
          <img src="./img/pizza-11.png" alt="Pizza With Mushrooms" />
        </div>
        <div class="swiper-slide-content">
          <h3 class="description">Pizza With Mushrooms</h3>
          <button class="swiper-button-prev">
            <svg class="chevron-icon icon" width="22" height="22">
              <use href="../img/symbol-defs.svg#chevron-left"></use>
            </svg>
          </button>
          <button class="swiper-button-next">
            <svg class="chevron-icon icon" width="22" height="22">
              <use href="../img/symbol-defs.svg#chevron-right"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="swiper-slide">
        <div class="swiper-slide-image-wrapper">
          <img src="./img/pizza-12.png" alt="Mascarpone And Mushrooms Pizza" />
        </div>
        <div class="swiper-slide-content">
          <h3 class="description">Mascarpone And Mushrooms</h3>
          <button class="swiper-button-prev">
            <svg class="chevron-icon icon" width="22" height="22">
              <use href="../img/symbol-defs.svg#chevron-left"></use>
            </svg>
          </button>
          <button class="swiper-button-next">
            <svg class="chevron-icon icon" width="22" height="22">
              <use href="../img/symbol-defs.svg#chevron-right"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
