.accordion {
  margin: 0 auto;
  width: 100%;
  max-width: 700px;
}

.accordion-content {
  margin: 16px 0;
  box-shadow: var(--box-shadow);
  transition: var(--tran-250);
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  padding: 16px;
  background-color: var(--black);
  cursor: pointer;
}

.accordion-title h3 {
  font-size: 16px;
}

.accordion .chevron-icon {
  fill: var(--white);
}

.accordion-list {
  font-size: 14px;
  line-height: 2;
  color: var(--primary-light-color);
  height: 0;
  padding: 0 16px;
  overflow: hidden;
  background-color: var(--white);
  box-sizing: content-box;
  transition: height var(--tran-400), padding var(--tran-400);
}

.accordion-content .chevron-icon {
  transition: transform var(--tran-400);
}

.accordion-content.open .accordion-list {
  padding: 16px;
  height: 100px;
}

.accordion-content.open .chevron-icon {
  transform: rotate(-180deg);
}

.accordion-content.open .accordion-title {
  background-color: var(--primary-red);
}
