.header {
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.header-logo {
  font-size: 20px;
  color: var(--primary-red);
}

.mob-col-1 {
  flex: 0 0 25%;
  display: flex;
  justify-content: flex-start;
}

.mob-col-2 {
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

.mob-col-3 {
  flex: 0 0 25%;
}

.mob-col-3 ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header .button {
  fill: var(--primary-light-color);
}

.header .icon {
  transition: fill var(--tran-250);
}

.header .icon:hover {
  fill: var(--primary-hover-color);
}

.mobile-nav {
  position: fixed;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--white);
  opacity: 90%;
  z-index: 98;
  padding: 130px 20px;
  box-sizing: border-box;
  transition: left var(--tran-250);
}

.mobile-nav.is-open {
  display: block;
  left: 0;
  overflow: hidden;
  transition: 0.4s;
}

.header-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  float: none;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.header-nav-list {
  text-align: center;
}

.header-nav-item {
  margin-bottom: 40px;
}

.header-nav-link {
  margin-bottom: 40px;
  font-size: 24px;
  transition: color var(--tran-250);
}

.header-nav-link:hover {
  color: var(--primary-hover-color);
  text-decoration: underline;
}

/* hamburger menu */
.hamburger-menu {
  display: block;
  width: 40px;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 99;
}

.hamburger-menu .bar,
.hamburger-menu::before,
.hamburger-menu::after {
  content: '';
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: var(--primary-light-color);
  margin: 6px 0px;
  transition: 0.4s;
}

.hamburger-menu.is-open::before {
  transform: rotate(-45deg) translate(-5px, 8px);
}

.hamburger-menu.is-open::after {
  transform: rotate(45deg) translate(-4px, -8px);
}

.hamburger-menu.is-open .bar {
  opacity: 0;
}

/* Shopping cart */
.cart {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 400px;
  background-color: var(--white);
  padding: 2rem;
  box-sizing: border-box;
  border-left: 1px solid var(--border-light-grey);
  box-shadow: var(--box-shadow);
  transition: var(--tran-04);
  overflow: auto;
}

.cart .close-cart {
  display: flex;
  justify-content: end;
  margin-bottom: 2.5rem;
}

.cart .close-cart button {
  font-size: 2.5rem;
  color: var(--red);
  text-decoration: underline;
  text-align: right;
  background-color: var(--white);
  border: none;
  cursor: pointer;
  transition: var(--tran-02);
}

.cart .close-cart button:hover {
  color: var(--black);
}

.cart .cart-list {
  padding-bottom: 2rem;
}

.cart .cart-item {
  display: flex;
  background-color: var(--white);
  border-bottom: 1px solid var(--border-light-grey);
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.cart .cart-item .delete-item-btn {
  color: var(--red);
  position: absolute;
  border: none;
  background-color: transparent;
  width: 2rem;
  padding: 0;
  height: 2rem;
  right: 1rem;
  cursor: pointer;
}

.cart .cart-item .delete-item-btn img {
  width: inherit;
  height: inherit;
}

.cart .cart-item__image {
  display: flex;
  align-items: center;
}

.cart .cart-item__image img {
  width: 80px;
  height: 80px;
  margin-left: 0.5rem;
  margin-right: 2.5rem;
}

.cart .cart-item__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.cart .cart-item__content .wrapper {
  display: flex;
  justify-content: space-between;
}

.cart .cart-item__content form {
  display: flex;
}

.cart #order-now-btn {
  font-size: 2rem;
  color: var(--white);
  text-align: center;
  display: block;
  width: 100%;
  padding: 1rem 3rem;
  margin-top: 2rem;
  background-color: var(--red);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: var(--tran-02);
}

.cart #order-now-btn:hover {
  background-color: var(--black);
}

.cart .cart-is-empty {
  text-align: center;
  font-size: 3rem;
  margin: 5rem 0;
}

.cart .subtotal {
  font-size: 2rem;
  display: flex;
  justify-content: space-between;
}

.cart-item__name {
  font-size: 2.5rem;
  padding-right: 2rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.cart-item__size {
  font-size: 1.8rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.cart-item__ingredients {
  font-size: 1.4rem;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.cart-item__price {
  font-weight: 700;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.show-subtotal {
  font-weight: 700;
  color: red;
}

/* Media queries */
@media only screen and (min-width: 768px) {
  .header-container {
    padding: 0 32px;
    max-width: 768px;
  }

  .mob-col-1 {
    display: none;
  }

  .mob-col-2 {
    flex: unset;
    display: block;
  }

  .mob-col-3 {
    flex: unset;
  }

  .mobile-nav {
    all: unset;
  }

  .header-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-nav-item {
    margin-bottom: 0;
  }

  .header-nav-link {
    padding: 4px 14px;
    font-size: 18px;
  }

  .nav-item {
    font-size: 2.2rem;
    line-height: 150%;
    color: var(--black);
    margin: 0 1rem;
    transition: var(--tran-02);
    cursor: pointer;
  }

  .nav-item:hover {
    color: var(--red);
    text-decoration: underline;
  }

  .header__icons {
    display: flex;
    align-items: center;
  }

  .header__icons div {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: 1.7rem;
    cursor: pointer;
  }

  .header__icons div:last-child {
    position: relative;
  }

  .header__icons i {
    font-size: 2.5rem;
    color: var(--light-color);
  }

  .header__icons i:hover {
    color: var(--red);
    transition: var(--tran-02);
  }

  .header__icons .quantity {
    position: absolute;
    bottom: -8px;
    display: inline-block;
    width: 20px;
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1068px) {
  .header-container {
    max-width: 1280px;
  }
}
