.home .container {
  padding-top: 120px;
  padding-bottom: 40px;
}

.home-bg {
  background: url("../img/home-bg.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
}

.swiper-slide {
  display: none;
  align-items: center;
  gap: 1.5rem;
}

.swiper-slide.active {
  display: block;
}

.swiper-slide-image-wrapper {
  flex: 1 1 40rem;
  animation: fadeRight 0.4s linear;
  display: flex;
  justify-content: center;
}

.swiper-slide-image {
  width: 80%;
}

.swiper-slide-content {
  flex: 1 1 40rem;
  text-align: center;
  animation: fadeLeft 0.4s linear;
}

.swiper-slide-content .description {
  font-size: 60px;
  line-height: 1;
  color: var(--white);
  text-shadow: var(--box-shadow);
  margin-bottom: 32px;
}

.swiper-slide-content button {
  position: relative;
  height: 45px;
  width: 45px;
  background-color: var(--white);
  border: none;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
  margin: 0 6px;
  transition: background-color var(--tran-250), fill var(--tran-250);
}

.swiper-slide-content button .chevron-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.swiper-slide-content button:hover {
  background-color: var(--primary-red);
}

.swiper-slide-content button:hover .chevron-icon {
  fill: var(--white);
}

@media screen and (min-width: 768px) {
  .swiper-slide > .wrapper {
    display: flex;
  }

  .swiper-slide-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}

@media screen and (min-width: 1280px) {
  .swiper-slide-content .description {
    font-size: 80px;
  }
}

/* KEYFRAMES */
@keyframes fadeRight {
  0% {
    transform: translateX(-5rem);
  }
}

@keyframes fadeLeft {
  0% {
    transform: translateX(5rem);
  }
}

@keyframes moveArrow {
  from {
    transform: translateY(-20px);
  }

  to {
    transform: translateY(0);
  }
}