/* ===== Custom quantity input ===== */
.quantity-container {
  display: flex;
  border-radius: 10px;
  background-color: rgb(228, 228, 228);
}

.quantity-input {
  text-align: center;
  font-size: 16px;
  line-height: 100%;
  padding: 10px 12px;
  background-color: rgb(228, 228, 228);
  color: var(--black);
}

.quantity-button {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--black);
  padding: 0;
}

.js-decrement-button {
  padding-left: 12px;
}

.js-increment-button {
  padding-right: 12px;
}
