/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

@import url('./modern-normalize.css');
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');

:root {
  font-family: 'Nunito', Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: var(--black);
  background-color: var(--light-bg);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-hover-color: #e74c3c;
  --primary-red: #e74c3c;
  --primary-light-bg: #f5f5f5;
  --primary-light-color: #666;
  --black: #333;
  --white: #fff;
  --border-light-grey: rgb(16, 16, 16);
  --border: .1rem solid var(--light-color);
  --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
  --hover-box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);

  --tran-250: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --tran-400: 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  padding: 20px 20px;
  margin: 0 auto;
}

/* @media screen and (min-width: 375px) {
  .container {
    max-width: 375px;
  }
} */

@media screen and (min-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
    max-width: 768px;
  }
}

@media screen and (min-width: 1068px) {
  .container {
    max-width: 1200px;
  }
}

.section-title {
  font-weight: 500;
  font-size: 30px;
  color: var(--black);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.card-item {
  padding: 16px;
  text-align: center;
  background-color: var(--white);
  border-radius: 10px;
}

@media screen and (min-width: 576px) {
  .card-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 24px;
  }

  .card-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1068px) {
  .card-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
}

.card-image {
  margin: 0 auto;
  margin-bottom: 20px;
}

.card-text {
  font-size: 14px;
  padding: 12px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.scroll-hidden {
  overflow: hidden;
}