.to-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  fill: #ffffff;
  background-color: var(--primary-red);
  visibility: hidden;
  opacity: 0;
  border-radius: 50%;
  transition: opacity var(--tran-250), animation 400ms ease-in-out;
}

@media only screen and (max-width: 767px) {
  .to-top-btn {
    font-size: 2rem;
    width: 40px;
    height: 40px;
  }
}

.to-top-btn.show {
  visibility: visible;
  opacity: 0.5;
}

.to-top-btn:is(:hover, :focus) {
  opacity: 1;
  animation: moveArrow 1s alternate-reverse infinite;
}

@keyframes moveArrow {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0);
  }
}
